@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <br />
    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(k => k.AD)
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        <br />
    </div>
    <div>
        <button class="btn btn-primary">Kaydet</button>
    </div>
}

